:root {
  --main: #04009A;
  --light: #77ACF1; 
  --contrast: #3EDBF0;
  --contrast-light: #C0FEFC;
}

.navbar {
  background-color: var(--main);
}
.close-icon {
  background-image: url('../images/close.png') !important;
}

.dropdown-menu.show{
  background-color: white;
} 

.dropdown-item {
  color: var(--main);
}

.dropdown-item:hover {
  color: var(--contrast-light);
  background-color: var(--main);
}

.main {
  padding-top: 56px;
}

main section.hero,
main div.container {
  display: none;
}

.title {
  position: absolute;
  top: 60%;
}

.hero {
  align-items: center;
  justify-content: space-around;
  background-image: url('../images/header1.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.front, .back {
  display: none;
  padding: 100px;
  border-radius: 60px;
  -webkit-transition-duration: 1.5s;
}

.front:hover,
.back:hover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.front:hover {
  background-image: url('../images/colors.png');
}

.back:hover {
  background-image: url('../images/eng.png');
}

.front a, .back a {
  text-decoration: none;
  color: var(--main);
  -webkit-text-stroke: 1px var(--light);
}

.front a:hover,
.back a:hover {
  color: var(--contrast-light);
}

.front a h3,
.back a h3 {
  transition: transform 0.3s;
  font-size: 40px;
}

.front a h3:hover,
.back a h3:hover {
  transform: scale(1.2);
}

.title {
  font-size: 60px;
  display: none;
}

hr {
  border-top: 5px solid rgba(0,0,0,0.1);
}

.about div figure,
.experience div figure {
  width: 100%;
  height: 300px;
} 

.about,
.experience,
.project-title {
  color: var(--main);
}

.study img,
.experience img {
  width: 100%;
  height: 90%;
}

.study figcaption,
.experience figcaption {
  font-size: 12px;
}

.projects {
  display: none;
}

.card {
  max-width: 30%;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card a:hover,
.card a:focus {
  text-decoration: none;
  cursor: pointer;
}

footer {
  display: none;
  background-color: var(--main);
  color: white;
}

.front-list li:last-of-type a,
.back-list li:last-of-type a {
  color: var(--main);
}

.front-list li:last-of-type a:hover,
.back-list li:last-of-type a:hover {
  background-color: var(--main);
  color: var(--contrast-light);
}

.front-list, .back-list {
  list-style: none;
  padding: 0;
}

.front-list li a, 
.back-list li a {
  color: var(--contrast-light);
}

.front-list li a:hover,
.front-list li a:focus,
.back-list li a:hover,
.back-list li a:focus,
.icons a i:hover,
.mail a:hover {
  color: var(--light);
  text-decoration: none;
}

.icons__github, 
.icons__linkedin {
  font-size: 64px;
  color: white;
}

.mail a {
  color: white;
}

.fade-background {
  background-color: rgba(0,0,0,0.3);
  background-blend-mode: color;
  transition: 0.5s;
}

.fade-menu {
  filter: brightness(0.4);
  transition: 0.5s;
}

@media screen and (max-width: 1400px) {
  .hero {
    background-image: url('../images/header2.jpg');
  }
}

@media screen and (min-width: 780px) and (max-width: 950px){
  .hero {
    justify-content: space-between;
    padding: 0 50px;
  }

  .title {
    position: absolute;
    top: 60%;
    left: 40%;
  }
  
}


@media screen and (max-width: 540px) {

  .navbar-nav,
  .navbar-nav section {
    padding: 20px 40px;
  }

  .navbar-collapse section {
    position: absolute;
    top: 70vh;
    right: 5%;
    left: 5%;
  }

  #sideNav {
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0px;
    background-color: var(--main);
    overflow-x: hidden;
    margin-top: 56px;
    transition: 0.5s;
  }


  .fade-body {
    background-color: rgba(0,0,0,0.4);
  }

  ul.navbar-nav {
    display: block;
  }

  .dropdown-menu.show{
    display: block;
    margin: 0 -25%;
  } 
  
  .dropdown-item {
    padding-left: 40px;
  }


  .card {
    width: 100%;
    max-width: 100%;
  }

  .experience img, 
  .study img {
    height: 200px;
  }

}

