:root {
  --main: #04009A;
  --light: #77ACF1; 
  --contrast: #3EDBF0;
  --contrast-light: #C0FEFC;
}

.navbar {
  background-color: var(--main);
}
.close-icon {
  background-image: url('../images/close.png') !important;
}

.dropdown-menu.show{
  background-color: var(--light);
} 

.dropdown-item {
  color: var(--contrast-light);
}


@media screen and (max-width: 540px) {

  .navbar-nav{
    padding: 20px 40px;
  }

  #sideNav {
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0px;
    background-color: var(--main);
    overflow-x: hidden;
    margin-top: 56px;
    transition: 0.5s;
  }


  ul.navbar-nav {
    display: block;
  }

  .dropdown-menu.show{
    display: block;
    margin: 0 -25%;
    padding-left: 60px;
    background-color: var(--light);
  } 

  .dropdown-item {
    color: var(--contrast-light);
  }

}

